{% load static %}

{% comment %} {% extends 'app/base.html' %} {% endcomment %}

{% block content %}

<head>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
<!-- Zone de la bannière (bradcam) commence  -->
<div class="bradcam_overlay">
    <div class="container">
        <div class="row">
            <div class="col-xl-12"></div>
        </div>
    </div>
</div>
<!-- Zone de la bannière (bradcam) se termine  -->

<!-- Zone d'inscription commence  -->
<body>
<section class="blog_area section-padding" style="background:#EBF5FB ">
    <div class="container login">
        <img src="{% static 'img/register.jpg' %}" alt="image" class="login__bg">
        <div class="col-xl-12">
            <div class="row justify-content-md-center">
                <div class="col-md-6 blog_details" style="background:white">
                    <h3>Créer un compte</h3>
                    <hr class="colorgraph"><br>
                    <form class="form-contact contact_form login__form" action="#" method="post" id="contactForm"
                        novalidate="novalidate">
                        {% csrf_token %}
                        <div class="row login__inputs">
                            {% if form.errors %}
                            <div class="col-12">
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for field in form %}
                                        {% for error in field.errors %}
                                        <li>{{ error|escape }}</li>
                                        {% endfor %}

                                        {% endfor %}
                                        {% for error in form.non_field_errors %}
                                        <li> {{ error|escape }}</li>
                                        {% endfor %}
                                        {% for message in messages %}
                                        <li> {{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                            <div class="col-12 ">
                                <div class="form-group login__box">
                                    <input class="form-control login__input" name="{{ form.username.html_name }}"
                                        id="{{ form.username.id_for_label }}" type="text" maxlength="45"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nom d\'utilisateur'"
                                        placeholder="Nom d'utilisateur" required />
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group login__box">
                                    <input class="form-control login__input valid" name="{{ form.password.html_name }}"
                                        id="{{ form.password.id_for_label }}" type="password"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mot de passe'"
                                        placeholder="Mot de passe" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group login__box">
                                    <input class="form-control login__input valid" name="{{ form.confirm_password.html_name }}"
                                        id="{{ form.confirm_password.id_for_label }}" type="password"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirmer le mot de passe'"
                                        placeholder="Confirmer le mot de passe" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group login__box">
                                    <input class="form-control login__input valid" name="{{ form.first_name.html_name }}"
                                        id="{{ form.first_name.id_for_label }}" type="text"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Prénom'"
                                        placeholder="Prénom" required>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group login__box">
                                    <input class="form-control login__input valid" name="{{ form.last_name.html_name }}"
                                        id="{{ form.last_name.id_for_label }}" type="text"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nom de famille'"
                                        placeholder="Nom de famille" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group login__box">
                                    <input class="form-control login__input valid" name="{{ form.email.html_name }}"
                                        id="{{ form.email.id_for_label }}" type="email" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Email'" placeholder="Email" required>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group login__box">
                                    <input class="form-control login__input" name="{{ form.birthday.html_name }}"
                                        id="{{ form.birthday.id_for_label }}" type="text" onfocus="(this.type='date')"
                                        placeholder="Date de naissance">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group login__box">
                                    <input class="form-control login__input" name="{{ form.address.html_name }}"
                                        id="{{ form.address.id_for_label }}" type="text" onfocus="this.placeholder = ''"
                                        onblur="this.placeholder = 'Adresse'" placeholder="Adresse">
                                </div>
                            </div>

                        </div>
                        <div class="form-group mt-3">
                            <button type="submit" class="login__button">S'inscrire</button>
                        </div>
                        <div class="mt-3">Vous avez déjà un compte?
                            <a href="{% url 'user_login'%}">Connectez-vous</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Zone d'inscription se termine  -->
</body>
{% endblock %}
