<header class="header">
    <div class="header__container">
        <div class="header__img"><a href="{% url 'user_logout' %}">{{ user.username }}</a></div>

        <a href="#" class="header__logo">NaN</a>

        <div class="header__search">
            <input type="search" placeholder="Rechercher" class="header__input">
            <i class='bx bx-search header__icon' style="color: #6871E0;"></i>
        </div>

        <div class="header__toggle">
            <i class='bx bx-menu' id="header-toggle"></i>
        </div>
    </div>
   </header>
{% include "includes/nav.html" %}
